doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Notion+ Mark Manager Popup
    link(rel="stylesheet", href="css/popup.scss")

  body
    nav#navbar.shown
      ul
        li.tab(data-tab="colored-texts") Colored Texts
        li.tab(data-tab="comments") Comments

    section#blocks-container.blocks-container

    script(src="js/popup.js")