doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Notion+ Mark Manager Popup
    link(rel="stylesheet", href="css/popup.scss")

  body
    nav#nav.shown
      ul
        li.tab(data-tab="colored-texts") Colored Texts
        li.tab(data-tab="comments") Comments

    section#blocks
      #colored-texts-container
      #comments-container
      img#loading-spinner(src='data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20data-ember-extension%3D%221%22%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%2228.1542969%25%22%20y1%3D%2263.7402344%25%22%20x2%3D%2274.6289062%25%22%20y2%3D%2217.7832031%25%22%20id%3D%22linearGradient-1%22%3E%3Cstop%20stop-color%3D%22rgba(164%2C%20164%2C%20164%2C%201)%22%20offset%3D%220%25%22%2F%3E%3Cstop%20stop-color%3D%22rgba(164%2C%20164%2C%20164%2C%200)%22%20stop-opacity%3D%220%22%20offset%3D%22100%25%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20%3E%3Cg%20transform%3D%22translate(-236.000000%2C%20-286.000000)%22%3E%3Cg%20transform%3D%22translate(238.000000%2C%20286.000000)%22%3E%3Ccircle%20id%3D%22Oval-2%22%20stroke%3D%22url(%23linearGradient-1)%22%20stroke-width%3D%224%22%20cx%3D%2210%22%20cy%3D%2212%22%20r%3D%2210%22%2F%3E%3Cpath%20d%3D%22M10%2C2%20C4.4771525%2C2%200%2C6.4771525%200%2C12%22%20id%3D%22Oval-2%22%20stroke%3D%22rgba(164%2C%20164%2C%20164%2C%201)%22%20stroke-width%3D%224%22%2F%3E%3Crect%20id%3D%22Rectangle-1%22%20fill%3D%22rgba(164%2C%20164%2C%20164%2C%201)%22%20x%3D%228%22%20y%3D%220%22%20width%3D%224%22%20height%3D%224%22%20rx%3D%228%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', alt='Loading...')
      #prompt This page has no <span id="empty-blocks">colored texts</span>.

    section#menu
      ul
        li.tab
          svg.exporter-icon(preserveaspectratio='xMidYMid meet', viewbox='0 0 24 24')
            path(d='M8.71 7.71L11 5.41V15a1 1 0 0 0 2 0V5.41l2.29 2.3a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.42l-4-4a1 1 0 0 0-.33-.21a1 1 0 0 0-.76 0a1 1 0 0 0-.33.21l-4 4a1 1 0 1 0 1.42 1.42zM21 14a1 1 0 0 0-1 1v4a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-4a1 1 0 0 0-2 0v4a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-4a1 1 0 0 0-1-1z')
          p Export
      .exporter-container
        .exporter-options
          label
            input#select-all(type="checkbox")
            div
              .checkbox
                svg.checked-icon(viewBox="0 0 14 14")
                  polygon(points="5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039")
                svg.unchecked-icon(viewBox="0 0 16 16")
                  path(d="M1.5,1.5 L1.5,14.5 L14.5,14.5 L14.5,1.5 L1.5,1.5 Z M0,0 L16,0 L16,16 L0,16 L0,0 Z")
            span Select All
          #status
        .exporter-btns
          button#cancel.secondary(type="button") Cancel
          #exporter-btns-wrapper
            button#copy.primary(type="button") Copy
            button#download.primary(type="button") Download

    #support
      svg(preserveaspectratio='xMidYMid meet', viewbox='0 0 24 24')
        path(d='M5 9a1 1 0 0 1 1 1a6.97 6.97 0 0 1 4.33 1.5h2.17c1.332 0 2.53.579 3.353 1.499L19 13a5 5 0 0 1 4.516 2.851C21.151 18.972 17.322 21 13 21c-2.79 0-5.15-.603-7.06-1.658A.998.998 0 0 1 5 20H2a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h3zm1.001 3L6 17.021l.045.033C7.84 18.314 10.178 19 13 19c3.004 0 5.799-1.156 7.835-3.13l.133-.133l-.12-.1a2.994 2.994 0 0 0-1.643-.63L19 15l-2.112-.001c.073.322.112.657.112 1.001v1H8v-2l6.79-.001l-.034-.078a2.501 2.501 0 0 0-2.092-1.416L12.5 13.5H9.57A4.985 4.985 0 0 0 6.002 12zM4 11H3v7h1v-7zm9.646-7.425L14 3.93l.354-.354a2.5 2.5 0 1 1 3.535 3.536L14 11l-3.89-3.89a2.5 2.5 0 1 1 3.536-3.535zm-2.12 1.415a.5.5 0 0 0-.06.637l.058.069L14 8.17l2.476-2.474a.5.5 0 0 0 .058-.638l-.058-.07a.5.5 0 0 0-.638-.057l-.07.058l-1.769 1.768l-1.767-1.77l-.068-.056a.5.5 0 0 0-.638.058z')
    #support-info
      .wrapper
        .intro
          img.me(src="./assets/me.jpg", alt="Yeefun Lin")
          div
            .text 👋 Hi, I'm Yeefun, the creator of Notion+ Mark Manager.
        div
          .text To develop a free, <a href="#" target="_blank">open-source</a> extension takes a lot of effort. <strong>Your support</strong> will encourage me to continue upgrading the product. There are a few things you can do:
        div
          .bulleted-list
            .bullet
              div •
            .text Tell your friends about it
        div
          .bulleted-list
            .bullet
              div •
            .text Leave a review on the <a href="#" target="_blank">Chrome</a> or <a href="#" target="_blank">Firefox</a> store
        div
          .bulleted-list
            .bullet
              div •
            .text Give a star on <a href="#" target="_blank">GitHub</a>
        div
          .bulleted-list
            .bullet
              div •
            .text Report bugs or request features via this <a href="#" target="_blank">form</a> or <a href="#" target="_blank">GitHub Issues</a> (preferred)
        div
          .bulleted-list
            .bullet
              div •
            .text <a href="#" target="_blank">Buy me a coffee</a>
        div
          .text Thank you! 🙌
    script(src="js/popup.js")